*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Ubuntu Mono', monospace, Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F78812;
    color: #E02401;
}

main{
    padding: 50px;
}

button{
    font-size: 18px;
    font-weight: 600;
    border: 2px solid #F78812;
    border-radius: 15px;
    background-color: #E02401;
    color: #F78812;
    margin: 25px auto;
    padding: 6px 15px;
    cursor: pointer;
    display: block;
}

button:hover{
    background-color: #51050F
}

h1, h2, h3{
    text-align: center;
    text-transform: uppercase;
}

h1{
    font-size: 50px;
    margin: 20 auto;
    color: #51050F;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 19px;
}

.rules-container{
    margin: 50px;
    text-align: center;
}

.rules{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
}

.icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.game-container{
    margin: 50px;
}

.icon{
    cursor: pointer;
}

.fas{
    font-size: 140px;
    color: #E02401;
}

.move{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.moves .fas{
    font-size: 50px;
}

.fas:hover{
    color: #51050F;

}

.active-game-container, .replay-button{
    display: none;
}

.rules{
    display: block;
}

.moves{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: relative
}

.move{
    margin-top: 50px;
    width: 140px;
    height: 140px;
    border: 2px solid #51050F;
    border-radius: 15px;
}

.round-counter{
    position: absolute;
    width: 100px;
    top: 0%;
    margin: 10px auto;
    font-weight: 600;

}

.score-display{
    width: 70%;
    font-size: 20px;
    margin: 15px auto;
    text-align: center;
}

.result-display{
    width: 50%;
    margin: 30px auto;
    font-size: 50px;
    color: #51050F;
    text-align: center;
}